*{margin:0;padding:0;}
*, *::after, *::before {box-sizing: border-box;}
*, *::after, *::before, input[type="checkbox"], input[type="radio"] {box-sizing: border-box;}
*, *::after, *::before {box-sizing: border-box;}
*, *::after, *::before, input[type="checkbox"], input[type="radio"] {box-sizing: border-box;}
html{height: 100%;}
body {font:14px/1.5 "Microsoft YaHei";color:#333;word-wrap:break-word;word-break:break-all;background:#e7ebee; height: 100%;/*overflow-x:hidden;*/}
h1,h2,h3,h4,h5,h6,button,input,textarea,select{font-size:100%;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
caption,th{text-align:left;}
li{list-style:none;}
address,cite,code,dfn,var,em,th,i{font-style:normal;font-weight:normal;}
button,input,textarea{outline:none;font-family:inherit;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
a {text-decoration:none;}
a:active,a:hover {outline: 0;text-decoration:none;}
select, dl {word-wrap:normal;}
input,button{border:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
i{font-style: normal;}

.bg-danger {background-color: #f44336;color: #fff !important;}
.list-unstyled{list-style: none;}
.pull-right{float: right !important;}
.has-badge{position: relative;}
.has-badge .badge {position: absolute;right: 0;top: 0;}
.badge { display: inline-block; border-radius: 50%;color: #fff;font-size: 11px;line-height: 16px;padding:0 5px; text-align: center;}
.block {border-bottom: 1px solid #eff2f6;overflow: hidden;padding: 30px 24px;}
.button{cursor:pointer;}
.txt-color-danger{color: #ff4949 !important;}

.el-button--text:hover{color: #20a0ff}
.el-table .cell{
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.cell .el-button+.el-button{margin-left: 0;}
.el-dropdown-link{cursor: pointer;}
.el-pagination{margin-top:6px;}
/*.el-pagination__total{margin-left: 0 !important;}*/


/*demo begin*/
.demo h2{margin-bottom: 15px; padding-bottom: 8px; font-weight: bold;}

/*The Wrapper*/
.scrollbar-sidebar{  width: 100%;  max-height: 100%;}

/*The Content*/
.scroll-sidebar{max-width: 260px;}

.scrollbar-main{width: 100%;max-height: 100%;}
.scroll-main{width: 100%;}

.vue-scrollbar-transition, .vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__scrollbar-vertical {
    transition: all 0.3s ease 0s;
}
.vue-scrollbar-transition--scrollbar {
    transition: opacity 0.3s linear 0s;
}
.vue-scrollbar__wrapper {
    /*background: #fff none repeat scroll 0 0;*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-vertical {
    opacity: 1;
}
.vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__scrollbar-vertical {
    background: transparent none repeat scroll 0 0;
    opacity: 0.2;
    position: absolute;
}
.vue-scrollbar__scrollbar-horizontal:hover, .vue-scrollbar__scrollbar-vertical:hover {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
.vue-scrollbar__scrollbar-horizontal .scrollbar, .vue-scrollbar__scrollbar-vertical .scrollbar {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    cursor: default;
    position: relative;
}
.vue-scrollbar__scrollbar-vertical {
    height: 100%;
    right: 0;
    top: 0;
    width: 8px;
}
.vue-scrollbar__scrollbar-vertical .scrollbar {
    width: 8px;
}
.vue-scrollbar__scrollbar-horizontal {
    bottom: 0;
    height: 10px;
    right: 0;
    width: 100%;
}
.vue-scrollbar__scrollbar-horizontal .scrollbar {
    height: 10px;
}

/*  slideout menu begin  */
.sidebar-profile-container{min-height: 60px; vertical-align: middle; padding: 2px 0;}
.sidebar-profile-container i.user{font-size: 40px !important; color: #1665c1;}
.sidebar-profile-container .display-name{line-height: 36px;font-size: 28px;}
.btn-toggle-sidebar {display: inline-block;padding: 0 3px;font-size: 24px;cursor: pointer;background: transparent;transition: all .3s;margin-left: 8px;top:4px;position: absolute;}

.btn-toggle-sidebar:hover {
    transform: scaleX(1.3);
}

.sidebar-on .btn-toggle-sidebar {
    transform: rotate(90deg);
}

.sidebar-container {
    background-color: #fff;
    width: 260px;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    transition: 0.2s;
    color: #6c7177;border-right: 1px solid #ddd;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sidebar-container a {
    color: #fff;
}

.content-container {
    margin-left: 260px;
    transition: margin-left .2s;
}

.content-container .content {
    width: 100%;
}

.sidebar-on .sidebar-container {
    left: -260px;
    border-right:0;
}
.sidebar-on .content-container {
    margin-left: 0px;
}

.sidebar-on .btn-toggle-sidebar:hover {
    transform: scaleX(1.3);
}
/*.sidebar-on .sidebar-logo{position: absolute;right: -5px;top: 0; font-size: 32px !important;}*/
.sidebar-on .display-name{display: none;}
.sidebar-on .btn-toggle-sidebar{position: absolute; left: -3px; z-index: 5; color: #fff;}
.side-menu-item .side-menu-sub{line-height: 24px; display: none;}
.side-menu-sub{-webkit-transition:height 200ms ease-in;-moz-transition:height 200ms ease-in;-o-transition:height 200ms ease-in;transition:height 200ms ease-in;}
.side-menu-item.expand .side-menu-sub{display: block; }
.sidebar-on .side-menu-sub.li{transform: translateY(0%);}
.side-menu-item a{cursor: pointer; display: block;color: inherit;height: 50px;letter-spacing: 0.0125em;line-height: 50px;overflow: hidden;padding: 0 16px;text-decoration: none;}
.side-menu-item .side-menu-folder{background-color: #f8f8f8;border-left: 3px solid #ddd; color: #555;padding: 5px 8px; letter-spacing: 0.05em;display: block; position:relative;}
.side-menu-folder .icon.caret{display: inline-block;position: absolute;right: 3px;top:3px; color: #aaa;transition: transform 0.2s ease 0.1s;width: 24px;height: 48px;}
.side-menu-item a.side-menu-leaf{padding: 4px 8px; padding-left: 20px; transition: background 0.5s;}
.side-menu-item a.side-menu-leaf.active,.side-menu-item a.side-menu-leaf:hover{background-color: #FCFCFC; color: #222}
.side-menu-item .icon.caret:hover,.side-menu-item.expand .icon.caret{transform: rotate(90deg);}
/*  slideout menu end  */

/*toolbar begin*/
.toolbar-container{background-color: #1976d2;color: #fff;position: relative;}
.toolbar-items{box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14);line-height: 48px;min-height: 49px;}
.toolbar-menu li{ float: left;}
.toolbar-menu li .toolbar-item{color: #fff;display: block;padding-left: 13px; padding-right: 10px;}
.toolbar-menu li .toolbar-item .el-dropdown{color: #fff;}
.toolbar-menu li .toolbar-item:hover{cursor: pointer; background-color: rgba(0,0,0,0.1)}
.toolbar-menu li .toolbar-item-link{display: inline-block;height: 100%;}
.toolbar-menu-title.has-badge .badge{right: -8px;top:3px;}
/*toolbar end*/

/*tabpanel begin*/
.vue-tabpanel {
    position: relative;
}

.tabs-list-wrapper {
    padding: 0;
    border-bottom: 1px solid #dadada;
}

@keyframes loading-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.tabs-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    width: auto;
    zoom: 1;
}

.tabs-list>li {
    display: inline-block;
    padding: 8px 24px;
    position: relative;
    color: #999;user-select: none;-webkit-touch-callout: none; -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;
}

.tabs-list>li.loading:before {
    content: ' ';
    box-sizing: border-box;
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0px;
    top: 10px;
    border-radius: 9px;
    border: 2px solid #1ab394;
    border-top-color: transparent;
    border-left-color: transparent;
    animation: loading-rotate 0.8s infinite linear;
    -webkit-animation: loading-rotate 0.8s infinite linear;
}

.tabs-list>li.active {
    color: #333;
}

.tabs-list>li.active:after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #1ab394;
    left: 0px;
}

.tabs-list>li.active .btn-close {
    opacity: 1;
}

.tabs-list>li:hover {
    cursor: pointer;
}

.tabs-list>li:hover .btn-close {
    opacity: 1;
}

.tabs-list>li .btn-close {
    position: absolute;
    display: inline-block;
    opacity: 0;
    top: 2px;
    right: -5px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 14px;
    font-size: 13px;
    color: #999;
    transition: all 0.2s ease;
}

.tabs-list>li .btn-close:hover {
    color: #333;
    transform: scale(1.5);
    cursor: pointer;
}

.tabs-content-wrapper {
    position: relative;
    overflow-y: auto;
}

.tabs-content-wrapper .tabs-content {
    display: none;
}

.tabs-content-wrapper .tabs-content.active {
    display: block;
    background-color: #fff;
    border-top: 1px solid #eee;
}

/*tabpanel begin*/

/*toolstrip begin*/
.toolstrip-container{padding:5px 0; position: relative; clear: both;}
.toolstrip-btn-add-to-workbench{display: inline-block; width: 24px; height: 24px; position: absolute;right: 0; top: 10px;}
.toolstrip-btn-add-to-workbench:hover{cursor: pointer;}
.toolstrip-container .button-item .btn{display: inline-block; margin-right: 8px; padding-left: 5px; padding-right: 5px;}
.toolstrip-container .button-item{border-bottom: 1px solid #eee;margin-bottom: 5px;}

.ts-search-container{padding: 5px; clear: both;}

.toolstrip-setting-container{display: inline-block; width: 24px; height: 24px; position: absolute;right: 25px; top: 10px;}
/*toolstrip end*/

/*main content begin*/
.content-container{background-color:f1f2f3 ;color: #6c7177; height: 100%;}
.content{padding: 8px;}
.content-inner{ background-color: #fff;height: 100%;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.06)}
/*main content end*/

@media (max-width:600px) {

}
